.container {
    display: flex;
    align-items: baseline;
    background-color: black;
    padding: 20px 2em;
}
.container > h5 {
    color: white;
    margin: 0;
}
.container > input {
    margin-left: 5px;
}
.text-error {
    color: red;
    text-align: center;
}